.top{
    width:100%;;
    height:90px;
    background: #131413;
    float: left;
    position: relative;
}

.logo{
    width: 8.75%;
    height:40px;
    background: url('../img/index_03.png') center center no-repeat;
    background-size: 100%;
    margin-top: 25px;
    margin-left: 9.4%;
    float: left;
}

nav{
    width: 100%;
    height:43px;
}

nav ul.daohang{
    width:65%;
    height:100%;
    float: right;
    margin-right: 9.4%;
    display: flex;
    justify-content: space-between;
    margin-top: 2.2%;
}

nav ul.daohang li{
    width:auto;
    height:100%;
}

nav ul.daohang li p{
    text-align: center;
    line-height: 20px;
    font-family: "微软雅黑";
    font-size: 20px;
    color:#fff;
}

nav ul.daohang li span{
    line-height: 12px;
    font-family: "FZLTZHK";
    color: #818182;
}


.background{
    width:100%;
    height: auto;
    background: #FFFFFF;
    overflow: hidden;
}

.con1{
    width: 1200px;
    height: auto;
    overflow: hidden;
    margin:0 auto;
    padding-top: 12px;
    padding-bottom: 160px;
}

.position{
    width: auto;
    font-size: 16px;
    color: #444343;
    overflow: hidden;
}

.tu1{
    width: 100%;
    height: 532px;
}

img{
    width:100%;
    height: 100%;
}

.list1{
    width: 100%;
    height: 523px;
    margin-top: 22px;
}

.list1-left{
    width: 523px;
    height: 523px;
    float: left;
}

img{
    width: 100%;
    height: 100%;
}

.list1-right{
    width: 677px;
    height: 523px;
    padding: 160px 83px 0 75px;
    float: right;
}

.title{
    width: 100%;
    font-size: 30px;
    color: #000;
    text-align: center;
}

.text{
    width: 100%;
    font-size: 20px;
    color: #000;
    margin-top: 40px;
}

.list2{
    width: 100%;
    height:503px;
    margin-top: 6px;
}

.list2-left{
    width: 526px;
    height: 100%;
    padding: 105px 50px 0 73px;
    float: left;
}

.list2-right{
    width: 674px;
    height: 100%;
    float: right;
}

.list3{
    width: 100%;
    height: 526px;
}

.list3-left{
    width: 526px;
    height: 526px;
    float: left;
}

.list3-right{
    width: 674px;
    height: 100%;
    float: right;
    padding: 66px 175px 0 84px;
}

.text1{
    line-height: 34px;
}

footer{
    width: 100%;
    height: 546px;
    background: #0F0E0E;
}

.footer-box{
    width: 1200px;
    height: 440px;
    margin:0 auto;
    overflow: hidden;
}

.footer-left{
    width: 545px;
    height: auto;
    overflow: hidden;
    padding-left: 18px;
    padding-top: 60px;
    float: left;
}

.footer-left-top{
    width: 140px;height: 42px;
    background: url('../img/index_03.png');
}

.footer-left-bottom{
    width: 526px;
    height: 135px;
    margin-top: 30px;

    display: flex;
    justify-content: space-between;
}

.footer-left-bottom li{
    width: auto;
    height: 100%;
    overflow: hidden;
}

.footer-title{
    font-size: 18px;
    color: #878787;
}

.footer-text{
    font-size: 14px;
    color: #4E4E4E;
    margin-top: 25px;
    line-height: 30px;
}

.footer-right{
    width: 382px;
    height: 380px;
    float: right;
    margin-top: 130px;
}

.footer-right-title{
    width: 100%;
    font-size: 18px;
    color: #808080;
}

.firstbox{
    width: 100%;
    height: 34px;
    margin-top: 18px;
}

.name{
    width: 164px;
    height: 100%;
    background: #201F1F;
    float: left;
    padding-left: 15px;
}

.tel{
    width: 209px;
    height: 100%;
    background: #201F1F;
    float: right;
    padding-left: 15px;
}

.address{
    width: 100%;
    height: 34px;
    background: #201F1F;
    padding-left: 15px;
    margin-top: 15px;
}

.content{
    width: 100%;
    height: 98px;
    background: #201F1F;
    padding-left: 15px;
    margin-top: 15px;
}

.submit{
    width: 140px;
    height: 50px;
    background: #3C3314;
    font-size: 20px;
    color: #D0CAB7;
    text-align: center;
    line-height: 50px;
    float: right;
    margin-top: 30px;
}

.line{
    width: 100%;
    height: 1px;
    background: #383838;
    margin-top: 30px;
}

.bottom{
    width: 698px;
    height: 38px;
    margin:0 auto;
    margin-top: 20px;

    font-size: 14px;
    color: #6C6C6C;
    text-align: center;
}