.banner{
	width: 100%;
	height: 3.62rem;
	background-image: url('../img/banner.jpg_.webp');
	background-position: center center;
	background-size: contain;
	position: relative;
}

.daohang{
	width: 100%;
	height: 0.9rem;  
	background: -webkit-linear-gradient(top,rgba(0,0,0,.7),rgba(0,0,0,0));
	position: fixed;
	top: 0;
	left: 0;
}

.hanbao{
	width: 0.5rem;
	height: 0.9rem;
	line-height: 0.9rem;
	margin-left: 0.36rem;
	color: #fff;
	float: left;
}

.sousuokuang{
	width: 4.88rem;
	height: 0.66rem;
	background: #E7E7F3;
	margin-left: 0.2rem;
	float: left;
	font-size: 0.28rem;
	color: #939395;
	line-height: 0.66rem;	
	margin-top: 0.12rem;
}

.sousuokuang span{
	margin-left: 0.2rem;
	float: left;
}

.sousuokuang .sousuo{
	float: right;
}

.login{
	width: 0.48rem;
	height: 0.9rem;
	font-size: 0.24rem;
	line-height: 0.9rem;
	color: #fff;
	float: right;
	margin-right: 0.36rem;
}

.dian{
	width: 1.44rem;
	height: 0.28rem;
	position: absolute;
	left: 0;
	right: 0;
	top: 3.4rem;
	margin: auto;
}

.dian ul li{
	width: 0.14rem;
	height: 0.14rem;
	border-radius: 50%;
	background: #7E5C72;
	float: left;
	padding: 0 0.02rem;
	border: 0.02rem solid rgba(0, 0, 0, 0.5);
	margin: 0 0.02rem;
}

.dian ul li:nth-child(7){
	background: #fff;
}

.content1{
	width: 100%;
	height: 2.68rem;
}

.content1 .content1-top{
	width: 100%;
	height: 1.42rem;
	float: left;
}

.content1 .content1-top ul{
	width: 100%;
	height: 100%;
	float: left;
}

.content1 .content1-top ul li{
	width: 1.5rem;
	height: 1.42rem;
	float: left;	
}

.content1 .content1-top ul li img{
	display: block;
	width: 0.72rem;
	height: 0.72rem;
	margin-top: 0.08rem;	
	margin-left: 0.31rem;
}

.content1 .content1-top ul li span{
	display: block;
	text-align: center;
	font-size: 0.24rem;
	margin-top: 0.14rem;
}

.content1 .content1-bottom{
	width: 100%;
	height: 1.42rem;
	float: left;
}

.content1 .content1-bottom ul{
	width: 100%;
	height: 100%;
	float: left;
}

.content1 .content1-bottom ul li{
	width: 1.5rem;
	height: 1.42rem;
	float: left;	
}

.content1 .content1-bottom ul li img{
	display: block;
	width: 0.72rem;
	height: 0.72rem;
	margin-top: 0.08rem;	
	margin-left: 0.31rem;
}

.content1 .content1-bottom ul li span{
	display: block;
	text-align: center;
	font-size: 0.24rem;
	margin-top: 0.14rem;
}


/* 第二部分开始 */
.content2{
	width: 100%;
	height: 1.2rem;	
	position: relative;
}

.content2-left{
	width: 1.34rem;
	height: 0.8rem;
	margin-top: 0.05rem;
	border-right: 1px solid #E7E7E7;
	float: left;
	position: relative;
}

.content2-left img{
	width: 1.08rem;
	height: 100%;
	position: absolute;
	left: 0.13rem;
	top: 0;
	margin: auto;
}


.laba{
	width: 0.44rem;
	height: 0.44rem;
	position: absolute;
	top: 0.38rem;
	left: 1.48rem;
	margin: auto;
	background-image: url('../img/laba.jpg_.webp');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
}


.content2-right{
	width: 5.46rem;
	height: 0.8rem;
	margin-top: 0.05rem;
	float: right;
	position: relative;
}

.content2-right span{
	width: 100%;
	height: 0.4rem;
	float: left;
	font-size: 0.24rem;
	line-height: 0.4rem;
}

.content2-right .xiaochong{
	color: #757575;
}

.content2-right .niunai{
	color: #FF2F2F;
}

/* 第二部分结束 */

.content-background{
	width: 100%;
	background: #F0F0F0;
	float: left;
}

/* 第三部分开始 */
.content3{
	width: 100%;
	height: 2.22rem;
	margin-top: 0.08rem;
}

.content3 img{
	width: 50%;
	height: 100%;
	float: left;
	padding-right: 0.08rem;
}
/* 第三部分结束 */

/* 必抢部分开始 */
.content4{
	width: 100%;
	margin-top: 0.04rem;
	overflow: hidden;
}

.content4 .content4-top{
	width: 100%;
	height: 0.56rem;
}

.content4-top-middle{
	width: 3.22rem;
	height: 0.56rem;
	margin: 0 auto;
	position: relative;
}

.lefttiao{
	width: 0.68rem;
	height: 0.02rem;
	margin-top: 0.27rem;
	float: left;
	background: #F6B7B7;
}

.huobi{
	width: 1.5rem;
	height: 0.32rem;	
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.huobi img{
	width: 0.2538rem;
	height: 0.3rem;
	float: left;
}

.huobi .bixuan{
	width: 1.12rem;
	height: 0.32rem;
	text-align: center;
	font-size: 0.28rem;
	float: right;
}

.righttiao{
	float: right;
}


.content4-bottom{
	width: 100%;
}
.content4-bottom ul{
	width: 100%;
	overflow: hidden;
}

.content4-bottom ul li{
	width: 25%;
	/* height: 2.7366rem; */
	background: #fff;
	float: left;
}

.content4-bottom-title{
	width: 100%;
	height: 0.3rem;
	text-align: center;
	color: #2F2F2F;
	font-size: 0.24rem;
	margin-top: 0.1rem;
}

.content4-bottom-tu{
	width: 1.575rem;
	/* height: 1.575rem; */
	margin: 0.16rem 0.15rem;
}
.content4-bottom-tu img{
	width: 100%;
	height: 100%;
}

.content4-bottom-price{
	width: 100%;
	height: 0.28rem;
	font-size: 0.2rem;
	text-align: center;
	line-height: 0.28rem;
	margin-bottom: 0.16rem;
}

.content4-bottom-price span{
	color: #FF2E2E;
}

.content4-bottom-price s{
	text-decoration: line-through;
	color: #9B9B9B;
}

.content4-bottom li:nth-child(4){
	border-left: 1px solid #F0F0F0;
	border-bottom: 1px solid #F0F0F0;
}

.content4-bottom li:nth-child(8){
	border-left: 1px solid #F0F0F0;
}
/* 必抢部分结束 */

/* 潮店酷玩开始 */
.content4 .content5-bottom{
	width: 33.33%;
}
.content5-bottom-tu{
	width: 2.5rem;
	/* height: 3.518rem; */
	margin: 0.16rem 0.15rem;
}
.content5-bottom-tu img{
	width: 100%;
	height: 100%;
}
.content4 .content6-bottom{
	width: 50%;
	height: 100%;
}

.content6-bottom-tu{
	width: 3.75rem;
	/* height: 2.20562rem; */
	margin: 0.16rem 0.15rem 0.16rem 0;
}
.content6-bottom-tu img{
	width: 100%;
	height: 100%;
}
/* 潮店酷玩结束 */

.xuezhiqian{
	width: 100%;
	height: 1.865rem;
	margin-top: 0.2rem;
}
.xuezhiqian img{
	width: 100%;
	height: 100%;
}

.content4-bottom .content9-bottom-tu{
	height: 50%;
}

.content9-bottom img{
	width: 100%;
	height: 100%;
}

.content10-bottom-tu img{
	width: 100%;
	height: 100%;
}

.content11-bottom{
	width: 100%;
	overflow: hidden;
	border-top: 1px solid #F0F0F0;
}

/* .content11-bottom ul li{
	width: 100%;
	height: 2.2018rem;
} */

.content11-bottom ul li .content11-bottom-tu{
	width: 50%;
	height: 2.2018rem;
	float: left;
}

.content11-bottom-tu img{
	width: 100%;
	height: 100%;
}

.content4-bottom .conent11-bottom-tu1{
	border-right: 1px solid #F0F0F0;
}

.content4-bottom #conent11-bottom-tu4{
	border-left: 0px solid #F0F0F0;
}

.content11-bottom ul li .content11-bottom-tu5{
	border-right: 1px solid #F0F0F0;
}

.content4-bottom ul .content13-bottom-tu{
	width: 25%;
	height: 2.02rem;
	background-position: center center;
}

.content4-bottom ul .content13-bottom-tu img{
	width: 1.865rem;
	height: 1.865rem;
	margin-top: 0.0775rem;
}

.content14-bottom{
	width: 100%;
	overflow: hidden;
	float: left;
}

.content14-bottom .content14-bottom-top{
	width: 100%;
	overflow: hidden;
}

.content14-bottom ul{
	width: 100%;
	overflow: hidden;
	float: left;
}

.content14-bottom ul li{
	width: 50%;
	height: 3.18rem;
	background: #fff;
	float: left;
	padding: 0.04rem 0.02rem;
}

.content14-bottom ul li img{
	width: 100%;
	height: 100%;
}

.content14-bottom ul li .content14-bottom-left{
	width: 2.4466rem;
	height: 2.4466rem;
	float: left;
}

.content14-bottom ul li .content14-bottom-right{
	width: 1.2034rem;
	height: 2.44rem;
	float: left;
	margin-left: 0.02rem;
}

.content14-bottom ul li .content14-bottom-right img{
	width: 1.2034rem;
	height: 1.2034rem;
}

.content14-bottom ul li .content14-bottom-dibu{
	width: 100%;
	height: 0.6rem;	
	margin-top: 0.06rem;
	position: relative;
}

.content14-bottom ul li .content14-bottom-dibu img{
	width: 0.48rem;
	height: 0.48rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0.04rem;
	margin: auto;
}

.content14-bottom ul li .content14-bottom-dibu .zi{
	width: 100%;
	height: 0.54rem;
	font-size: 0.24rem;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0.6rem;
	margin: auto;
}

.content14-bottom ul li .content14-bottom-dibu .zi span{
	display: block;
}

/* 第十五部分开始 */
.content15{
	width: 100%;
	margin-top: 0.04rem;
	overflow: hidden;
	
}

.content15 .content15-top{
	width: 100%;
	height: 0.86rem;
	position: relative;
}

.content15-top-middle{
	width: 1.9rem;
	height: 0.3rem;
	/* margin: 0 auto;
	margin-top: 0.28rem; */
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.content15-lefttiao{
	width: 0.3rem;
	height: 0.02rem;
	margin-top: 0.15rem;
	float: left;
	background: #999999;
}


.caini-zi{
	line-height: 0.56rem;
	font-size: 0.3rem;
	color: #999999;
	float: left;
	line-height: 0.3rem;
	margin-left: 0.05rem;
}

.content15-righttiao{
	float: right;
}

.content15-bottom{
	width: 100%;
	overflow: hidden;
}

.content15-bottom ul{
	width: 100%;
	overflow: hidden;
}

.content15-bottom ul li{
	width: 3.72rem;
	background: #fff;
	float: left;
	margin-bottom: 0.06rem;
}

.content15-bottom ul li:nth-child(2n+1){
	margin-right: 0.06rem;
}

.content15-bottom ul li .content15-bottom-top{
	width: 3.72rem;
	height: 3.72rem;
}

.content15-bottom ul li img{
	width: 100%;
	height: 100%;
}

.content15-bottom ul li .content15-bottom-dibu{
	width: 3.72rem;
	height: 1.44rem;

}

.content15-bottom ul li .content15-bottom-dibu .zi{
	width: 3.36rem;		
	font-size: 0.28rem;
	color: #666;
	margin: 0 auto;
	/* margin-top: 0.36rem; */
	padding-top: 0.24rem;
}

.cai-end{
	width: 100%;
	height: 0.8rem;
	background-image: url('../img/end.png');
	background-position: center center;
	background-repeat: no-repeat;
}
/* 第十五部分结束 */

/* 底部开始 */
.ditiao{
	width: 100%;
	height: 0.04rem;
	background: #000;
}

.login-kuang{
	width: 100%;
	height: 2.02rem;
	float: left;
	background: #fff;
}

.zi-kuang{
	width: 100%;
	height: 0.3rem;
	margin-top: 0.38rem;

	font-size: 0.24rem;
	color: #999999;
	text-align: center;
	line-height: 0.28rem;
	
}

.login-di,.regist{
	width: 0.48rem;
	height: 0.28rem;
	float: left;
	margin: 0 5%;
}

.login-di{
	margin-left: 1rem;
}

.shutiao{
	width: 0.02rem;
	height: 0.28rem;
	background: #999999;
	float: left;
}

.index{
	width: 0.96rem;
	height: 0.28rem;
	float: left;
	margin: 0 5%;
}

.download{
	width: 1.2rem;
	height: 0.28rem;
	float: left;
	margin: 0 5%;
}

.banquan{
	font-size: 0.24rem;
	color: #ccc;
	text-align: center;
	padding-top: 0.6rem;
	padding-bottom: 0.44rem;
}
/* 底部结束 */