body{
	font-size: 16px;
    font-family: "苹方","微软雅黑", "Helvetica";
    color: #999;
    background-color: #f5f6fa;
}

nav{
	width: 100%;
	height: 0.89rem;
	background: #007be3;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}

nav .daohang{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

nav .daohang li{
	width: 20%;
	height: 100%;
	float: left;
	font-size: 0.32rem;
	border-bottom: 0.04rem;

	color: #fff;
	text-align: center;
	line-height: 0.89rem;
}

.banner{
	width: 100%;
	height: 4.21rem;
	background: url('../img/banner3.jpg') center center no-repeat;
	background-size: 100%;
}

.content1{
	width: 100%;
	overflow: hidden;
	padding: 0.1rem 0.24rem 0;
}

.content1 .mulu{
	width: 100%;
	height: 0.62rem;
	line-height: 0.62rem;

	font-size: 0.22rem;
	color: #494747;
	float: left;
	margin: 0 0.14rem;
	font-weight: bold;
}

.content1 .mulu a{
	color: #494747;
	font-size: 0.22rem;
	line-height: 0.7rem;
	float: left;
	margin: 0 0.14rem;
	font-weight: bold;
}

.content1 .mulu a:nth-child(1){
	margin-left: 0;
}

.content1 .mulu span{
	width: 0.16rem;
	height: 0.2rem;
	font-size: 0.22rem;
	color: #494747;
	text-align: center;
	float: left;
	background: url('../img/jiantou.png') center center no-repeat;
	overflow: hidden;
	margin-top: 0.26rem;
}

.content1-bottom{
	width: 100%;
	padding: 0.1rem 0.24rem 0;
	background: #fff;
	overflow: hidden;
}

.content1-bottom .gaishu{
	width: 100%;
	height: 4.08rem;
	background: #fff;
	margin-bottom: 0.2rem;
	padding-right: 0.2rem;
	padding-bottom: 0.3rem;
	border-bottom: 0.02rem solid #b8b8b8;
}

.content1-bottom .title{
	margin-top: 0.2rem;
}

.content1-bottom .gaishu .shutiao{
	width: 0.04rem;
	height: 0.2rem;
	background: #01b5ff;
	display: inline-block;
	float: left;
	margin-top: 0.07rem;
	margin-left: 0;
	overflow: hidden;
}

.content1-bottom .gaishu h2{
	font-size: 0.28rem;
	color: #333;
	margin-left: 0.2rem;
	margin-bottom: 0.13rem;
	font-weight: normal;
}

.content1-bottom .gaishu .line{
	width: 100%;
	height: 0;
	border-bottom: 0.01rem dashed #666;
}

.content1-bottom .gaishu .part{
	width: 100%;
	margin-top: 0.3rem;
	overflow: hidden;
}

.content1-bottom .gaishu .part .img{
	width: 2.81rem;
	height: 2.81rem;
	border-radius: 0.08rem;
	overflow: hidden;
	float: left;
}

.content1-bottom .gaishu .part .img img{
	width: 100%;
	height: 100%;
}

.content1-bottom .gaishu .part .intro{
	width: 2.9rem;
	height: 2.4rem;
	float: left;
	margin-top: 0.16rem;
	margin-left: 0.26rem;
}

.content1-bottom .gaishu .part .intro .name{
	height: 0.5rem;
	font-size: 0.28rem;
	color: #000;
	font-weight: normal;
	margin-bottom: 0.05rem;
	border-bottom: 0.02rem dashed #666;
}

.content1-bottom .gaishu .part .intro .position{
	font-size: 0.24rem;
	color: #01b5ff;
	margin-bottom: 0.3rem;
}

.content1-bottom .gaishu .part .intro .profession{
	width: 100%;
	height: 0.3rem;
	font-size: 0.24rem;
	color: #000;
	font-weight: normal;
	margin-bottom: 0.15rem;
	text-align: left;
}

.content1-bottom .gaishu .part .intro .profession p{
	width: 0.9rem;
	height: 100%;
	font-size: 0.24rem;
	color: #333;
	font-weight: normal;
	background: transparent;
	margin-top: -0.1rem;
	margin-left: 0;
	float: left;
}

.content1-bottom .gaishu .part .intro .profession span{
	width: 2rem;
	height: 100%;
	font-weight: normal;
	margin-top: -0.1rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	float: left;
}

.introduction{
	width: 100%;
	background: #fff;
	padding: 0.16rem 0.2rem 0.3rem 0.2rem;
}

.introduction .shutiao{
	width: 0.04rem;
	height: 0.2rem;
	background: #01b5ff;
	display: inline-block;
	float: left;
	margin-left: -0.2rem;
	margin-top: 0.07rem;
	overflow: hidden;
}

.introduction h2{
	font-size: 0.28rem;
	color: #444;
	font-weight: normal;
	margin-bottom: 0.13rem;
}

.introduction .line{
	width: 100%;
	height: 0.01rem;
	border-bottom: 0.01rem dashed #666;
}

.introduction p{
	font-size: 0.24rem;
	color: #666;
	line-height: 0.4rem;
	margin: 0.26rem 0;
	word-break: break-all;
	word-wrap: break-word;
}

.content8{
	width: 100%;
	height: 1.2rem;
	font-size: 0.3rem;
	overflow: hidden;
}

.content8 p{
	font-size: 0.2rem;
	color: #666;
	text-align: center;
	padding-top: 0.18rem;
}

.kongbox{
	width: 100%;
	height: 0.9rem;
}


footer{
	width: 100%;
	height: 0.9rem;
	background: #fff;
	margin-top: 0.2rem;
	position: fixed;
	left: 0;
	bottom: 0;
	box-shadow: 0 0 0.08rem rgba(0, 0, 0, 0.1);
	z-index: 999;
}

.footer-list{
	width: 100%;
	height: 100%;
	background: #E7E7E7;
}

.footer-list a{
	display: block;
	width: 30%;
	height: 0.8rem;
	float: left;
}

.footer-list a .part1,.part2,.part3{
	width: 100%;
	height: 100%;
	font-size: 0.24rem;
	color: #000;
	text-align: center;
	line-height: 0.9rem;
	background: #E7E7E7;
}

.footer-list a .part1 .tu1,.tu2,.tu3{
	width: 0.32rem;
	height: 0.32rem;
	float: left;
	line-height: 0.9rem;
	margin-top: 0.28rem;
	margin-left: 0.27rem;
}

.footer-list a .part1 .tu1{
	background-image: url('../img/qq.png');
	background-position: 0 0;
	background-size: 100%;
	background-repeat: no-repeat;
}

.footer-list a .part1 span{
	float: left;
	font-size: 0.26rem;
	margin-left: 0.1rem;
	/* text-align: left;
	line-height: 0.9rem; */
}

.footer-list .phone{
	width: 40%;
	height: 0.9rem;
	box-shadow: 0 0 0.08rem rgba(255, 126, 0, 0.1);
	margin-top: -0.1rem;
}

.footer-list a .part2{
	background: #ff8d12;
	border-radius: 0.08rem;
	text-align: center;
	box-shadow: 0 0 0.15rem #ff8d12;
}

.footer-list a .part2 .tu2{
	width: 0.36rem;
	height: 0.36rem;
	background-image: url('../img/shouye6.png');
	background-position: -1.6rem -4.78rem;
	background-size: 2rem;
	background-repeat: no-repeat;
	line-height: 0.9rem;
	margin-left: 0.7rem;
	float: left;
}

.footer-list a .part2 span{
	float: left;
	font-size: 0.3rem;
	color: #fff;
	margin-left: 0.1rem;
	font-weight: bold;
	text-align: left;
	line-height: 0.9rem;
}

.footer-list a .part3{
	text-align: right;
}

.footer-list a .part3 .tu3{
	background-image: url('../img/shouye6.png');
	background-position:-1.6rem -5.3rem; 
	background-repeat: no-repeat;
	background-size: 2rem;
	margin-left: 0.42rem;
}

.footer-list a .part3 span{
	float: left;
	font-size: 0.26rem;
	margin-left: 0.1rem;
	/* text-align: left;
	line-height: 0.9rem; */
}